
.team-selection-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5em;
  border-bottom: 1px solid $bb-blue;
}

.team-selection-item__logo {
  max-width: 75px;
  order: -1;
}

.team-selection-item__name{
  order: 0;
  font-size: 1.5em;
}

@media screen and (min-width: $breakpoint) {
  .team-selection {
    flex-direction: row;
  }
  .team-selection-item {
    flex-direction: column;
    margin: 0 2em;
    border: none;
  }

  .team-selection-item__logo {
    max-width: 150px;
  }
}
