.team-management-container {
    margin-bottom: 1em;
}

.team-progress-container {
    padding: 0.5em;
}

.team-value-container {
    padding: 0.5em;
}

.hide-on-small {
    display: none;
    visibility: hidden;
}

.hide-on-large {
    display: block;
    visibility: initial;
}

@media screen and (min-width: $breakpoint) {
  .hide-on-small {
    display: block;
    visibility: initial;
}

.hide-on-large {
    display: none;
    visibility: hidden;
}
}
