body {
  margin: 0;
}

#root {
  height: 100vh;
}

/*
  Typography
*/

/*
  Components
*/
.app-header {
  background-color: #2A3F75;
  height: 100%;
}

.app-footer {
  background-color: #9E0E06;
  height: 100%;
}

.page-container {
  padding: 0;
  height: 100%;
}

.row-header {
  height: 10%;
}

.row-footer {
  height: 10%;
}

.row-main {
  height: 80%;
}

.login-box {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  max-width: 620px;
  height: 100%;
  justify-content: space-evenly;

}

.logo {
  align-self: center;
  width: 90%;
}

.btn-primary {
  background-color: #2A3F75;
  color: white;
  margin: 1em 0;
}

.login-box-input {
  margin: 1em 0;
}

.btn-login {
  align-self: center;
}
